#coding-container {
    margin: 0 auto;
    width: 60%;
}

.coding-title {
    color: #222;
    background: none;
    border: none;
    font-family: 'Lora', serif;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 43%;
    margin-top: 10px;
    width: 16%;
}

.coding-title:hover {
    color: #777;
}

.coding-title:focus {
    outline: 0;
}