#coding-container {
    margin: 0 auto;
    text-decoration: underline;
    width: 60%;
}

.coding-title {
    color: #222;
    background: none;
    border: none;
    font-family: 'Lora', serif;
    font-size: 16px;
    margin: 10px;
}

.coding-title:hover {
    color: #777;
}
