#contact-container {
    margin: 0 auto;
    width: 60%;
}

.contact-title {
    color: #222;
    background: none;
    border: none;
    font-family: 'Lora', serif;
    font-size: 16px;
    margin: 20px;
    text-align: center;
}

.contact-links {
    text-align: center;
}

.contact-icon {

}

.contact-image {
    fill: #222;
    margin: 0 15px;
    width: 50px;
}

.contact-image:hover {
    fill: #fff;
}