#contact-container {
    top: 20px;
    right: 20px;
    position: fixed;
}

.contact-title {
    color: #222;
    background: none;
    border: none;
    font-family: 'Lora', serif;
    font-size: 16px;
    margin: 20px;
    text-align: center;
}

.contact-links {
    text-align: center;
}

.contact-icon {
    fill: #222;
    margin: 0 10px;
    transition-duration: 0.2s;
    width: 25px;
}

.contact-icon:hover {
    fill: #999;
    transition-duration: 0.2s;
}