html, body {
  margin: 0;
}

.app {
  /* text-align: center; */
}

.app-header {
  font-family: 'Lora', serif;
  background-color: #fff;
  /* width: 75vw; */
  /* height: 190px; */
  color: #222;
  text-align: center;
  margin: 0 auto;
}

.app-header-name {
  font-size: 28px;
  /* margin-top: 50px; */
}

.app-intro {
  font-size: large;
}

#menu {
  /* position: absolute; */
  display: flex;
  text-align: center;
  margin: 0 auto;
  width: 360px;
}
