html, body {
  margin: 0;
}

#app-header {
  font-family: 'Lora', serif;
  background-color: #fff;
  color: #222;
  text-align: center;
  margin: 0 auto;
}

#app-header-name {
  font-size: 28px;
}

.app-intro {
  font-size: large;
}

@media screen and (max-width: 700px) {
  .app-header-name {
    font-size: 30px;
  }

  @media screen and (max-width: 700px) {
    .app-header {
      margin-top: 50px;
    }
  }
}