.coding-project-container {
    border-top: 1px solid #222;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding-top: 25px;
    width: 100%;
}

.coding-link-image {
    display: flex;
    width: 40%;
}

.coding-project-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.coding-project-link-icon {
    transition-duration: 0.25s;
    margin: 0 10px;
    width: 30px;
}

.coding-project-link-icon:hover {
    fill: #777;
    transition-duration: 0.25s;
}

.coding-project-image-container {
    margin: 0;
    /* width: 30%; */
}

.coding-project-image {
    margin: 0;
    width: 100%;
}

.coding-project-info {
    margin: 0 2.5%;
    width: 55%;
}

.coding-project-summary {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.coding-project-title {
    margin: 0;
    font-size: 16px;
}

.coding-project-built {
    font-size: 13px;
}

@media screen and (max-width: 1000px) {
    .coding-project-container {

    }

    .coding-link-image {
        flex-direction: column;
    }

    .coding-project-links {
        flex-direction: row;
        margin-bottom: 10px;
        width: 100%;
    }

    .coding-project-link-icon {
        width: 30px;
    }

    .coding-link-image {
        margin: 0 auto;
        width: 50%;
    }

    .coding-project-info {
        margin: 0 5%;
        width: 40%;
    }

    .coding-project-image{
        justify-content: center;
    }

    @media screen and (max-width: 750px) {
        .coding-project-title {
            margin-top: 10px;
        }

        .coding-link-image {
            width: 100%;
        }

        .coding-project-links {
            margin-bottom: 10px;
        }

        .coding-project-container {
            flex-direction: column;
            text-align: center;
        }

        .coding-project-image-container{
            margin: 0 auto;
            width: 90%;
        }
        
        .coding-project-info {
            margin: 0;
            width: 100%;
        }
    }
}